.mistake{
  display:inline-table;
  border-spacing:0;
  border-collapse:collapse;
  margin:0;
  padding:0;
}

.mistake td{
  margin:0;
  padding:0;
}

.actual{
  color:red;
}

.expected{
  color:green;
}

.paragraph{
  margin-top: 10px
}

body{
  /*alternative monospace common webfonts*/
  /*font-family: "Lucida Console"*/
  /*font-family: "Verdana"*/
  /*font-family: "Courier New"*/
  /*font-family: "Lucida Sans Unicode"*/
  font-family: "Consolas";
  margin-left: 2%; 
  margin-right: 2%; 
  padding: 0%; 

}

#create-dictation-form textarea[name="dictation-text"]{
  width: 100%;
  height:500px;
  margin-bottom: 5px;
}

#typing-form input[name="currentWordText"]{
  width: 100%;
}

.title-link{
  text-decoration: none;
  color: black;
}